body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}


thead {
    background-color: #fff9c4;
}

fieldset {
    text-align: center;
    width: 28%;
    margin: 0 auto;
}